@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
:root {
    --primary-color: #101652;
    --secundary-color: #207178;
    --tertiary-color: #dc6378;

    --oxford-blue-color: #000022;
    --fuivo-color: #E28413;
    --light-blue-color: #B3DEE2;
    --crimson-color: #9D2235;
    --rust-red-color: #DE3C4B;
    --white-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
}

h1 {
    color: var(--white-color);
    text-transform: uppercase;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

p, h2, h3, h4, h5, h5 {
    color: var(--white-color);
}
li {
    list-style: none;
}