.close-menu {
    display: none;
}

.menu-content {
    justify-content: center;
    height: 8rem;
    padding: 0 1rem;
    width: 100%;
    background: var(--oxford-blue-color);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-bottom: 0.1rem  solid;
    z-index: 1;
}

.main-content {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}

.menu-content .main-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-content h1 {
    font-size: 2rem;
}

.menu-content ul {
    display: flex;
}

.menu-content ul li a {
    position: relative;
    display: block;
    font-size: 1.8rem;
    padding: 1.3rem;
}


.menu-content ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    width: 0;
    height: 0.2rem;
    left: 50%;
    transition: all 300ms ease-in-out;
    background: var(--fuivo-color);
}

.menu-content ul li:nth-child(5) a::after {
     display: none;
}

.menu-content ul li:hover a::after {
    width: 50%;
    left: 27%;
}

.nav-bar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.github__link img {
    width: 45px;
    margin-top: 1.2rem;
}

.nav-bar .verctor__img {
    height: 6rem;
    margin-top: 2rem;
    background: var(--white-color);
}

.space-menu {
    width: 100%;
    height: 5rem;
}

.section {
    height: 100vh;
    width: 100%;
}

.main-container {
    background: #161626;
}

.logo__mobile {
    display: none;
}



.menu-content h1 span {
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
}

.main-content nav ul li a {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}

.footer {
    margin: 1rem;
    text-align: center;
}

.footer span {
    color: var(--rust-red-color);
}


@media (max-width: 767px) {
    .menu-content ul li:nth-child(4) {
        display: none;
   }
   .menu-content ul li a::after {
        display: none;
    }

    .menu-content .main-content {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1.5rem;
    }

    .menu-content {
        height: 100vh;
    }

    .menu-content ul {
        flex-direction: column;
    }

    .menu-content {
        display: none;
    }


    .space-menu {
        display: none;
    }
    
    .close-menu-label::after {
        content: '≡';
        position: absolute;
        z-index: 2;
        top: 1.3rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        padding: 0.5rem;
        text-align: center;
        cursor: pointer;
        }
        
    .close-menu:checked~.menu-content {
        display: block;
        }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
        
        }

    .logo__mobile {
        display: flex;
        align-items: center;
        height: 6.5rem;
        width: 100%;
        margin-bottom: 2rem;
        background: var(--oxford-blue-color);
    }

    .logo__mobile h1 {
        padding-left: 2rem;
        cursor: pointer;
    }

    .logo__mobile span {
        font-family: 'Dancing Script', cursive;
        font-size: 2.2rem;
        cursor: pointer;

    }

    .back-to-top {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        background-color: var(--white-color);
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4rem;
        border: 0.1rem solid var(--secundary-color);
        color: var(--primary-color);
    }

    .close-menu {
        display: none;
        }
}